.wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
  padding: 15px 10px 15px 15px;
  width: -webkit-fill-available;
}

.wrapper .todo-text {
  margin: auto 0;
}

.wrapper .buttonsContainer {
  display: flex;
  margin: auto 0 auto 15px;
}

.wrapper .buttonsContainer .button {
  margin-right: 10px;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .wrapper .buttonsContainer .button svg {
    width: 20px;
} */

.green {
  border: 1px solid #008000a8;
  color: #008000a8;
}

.green:hover {
    color: white;
    background-color: #008000a8;
}

.green svg {
  width: 20px;
}

.red {
  border: 1px solid #ff0000b8;
  color: #ff0000b8;
}

.red:hover {
    color: white;
    background-color: #ff0000b8;
}

.red svg {
  width: 15px;
}

.crossed {
  text-decoration: line-through;
}
